{% extends 'layout_security.html.twig' %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}
    <div class="container">
        <div class="col col-offset-3 col-md-6">
            {# read and display several types of flash messages #}
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}"><br><br><br>
                        {{ flash }}
                    </div>
                {% endfor %}
            {% endfor %}
            <form method="post">

                <h1 class="h3 mb-3 font-weight-normal">Forgotten Password</h1>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                <br><br>
                <button class="btn btn-lg btn-primary" type="submit">
                    Send mail !
                </button>

            </form>
        </div>
    </div>
{% endblock %}