{% extends 'layout_security.html.twig' %}

{% block title %}Register !{% endblock %}

{% block body %}
 <div class="card mx-4">
        {# read and display several types of flash messages #}
        {% for label, messages in app.flashes(['success', 'warning']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="card-body p-4">
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>
            <form method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="icon-user"></i>
                    </span>
                    </div>
                    <input type="text" name="username" id="inputUseRname" class="form-control" placeholder="username" required autofocus>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="icon-user"></i>
                    </span>
                    </div>
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="icon-user"></i>
                    </span>
                    </div>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                </div>

                <button class="btn btn-block btn-success" type="submit">
                    Create Account
                </button>
            </form>
        </div>
        <div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-primary" type="button">
                    <span>facebook</span>
                  </button>
                </div>
                <div class="col-6">
                  <a  href="{{ path('app_login') }}" class="btn btn-block btn-danger">Login</a>
                </div>
              </div>
            </div>
    </div>
{% endblock %}